.nb-productCard{
  width: 250px;
  height: 350px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.nb-productCard-info{
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nb-productCard-info h4{
  margin: 0;
}

.nb-productCard img{
  width: 200px;
  height: auto;
}

.button-18 {
  align-items: center;
  background-color: #2F9FDE;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.comprado {
  background-color: #09223b;
}

.button-18:hover,
.button-18:focus { 
  background-color: #16437E;
  color: #ffffff;
}

.button-18:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

.button-18:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}


.nb-productContainer{
  width: 100%;
  display: grid;
  gap: 8px;
  grid-template-columns: 250px 250px 250px 250px;
  place-content: center;
  justify-items: center;
  padding: 20px 0;
}

.nb-navbar{
  height: 100px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  caret-color: transparent;
}

.nb-navbar img{
  width: 75px;
  height: 75px;
}

.nb-navbar ul {
  display: flex;
  gap: 15px;
  list-style: none;
  color: #0D6EFD;
}

.nb-navbar li {
  display: inline-block;
  cursor: pointer;
}

.nb-navbar li:hover{
  color: #2F9FDE;
}